@page "/EditCustomer/{customerId}"
@using Northwind.BlazorServer.Data
@inject INorthwindService Service
@inject NavigationManager Navigation

<h3>Edit Customer</h3>
<CustomerDetail ButtonStyle="Update"
                Customer="@_customer"
                OnValidSubmit="@Update" />

@code {
    [Parameter] public string CustomerId { get; set; } = null!;

    private Customer? _customer = new();

    protected override async Task OnParametersSetAsync()
    {
        _customer = await Service.GetCustomerAsync(CustomerId);
    }

    private async Task Update()
    {
        if (_customer is not null)
        {
            await Service.UpdateCustomerAsync(_customer);
        }
        
        Navigation.NavigateTo("customers");
    }
}